- var title='diwamoto.dev'
- var description='My Portfolio.'
- var domain='diwamoto.dev'
- var lists=[{name:"github",url:"https://github.com/diwamoto"},{name:"twitter",url:"https://twitter.com/Diwamoto_"},{name:"facebook",url:"https://www.facebook.com/profile.php?id=100045347584995"},{name:"zenn",url:"https://zenn.dev/diwamoto"},{name:"mail",url:"mailto:daiki.work.0118@gmail.com"}];
doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    title #{title}
    meta(name="description" content=`${description}`)
    meta(property="og:title" content=`${title}`)
    meta(property="og:description" content=`${description}`)
    meta(property="og:image" content=`https://${domain}/img/ogp.png`)
    meta(property="og:url" content=`${domain}`)
    meta(property="og:type" content="website")
    meta(name="twitter:card" content="summary_large_image")
    link(rel='apple-touch-icon-precomposed', src=`https://${domain}/img/apple-touch-icon.png`)
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP")
  body
    .main_image
      .main_title_box 
        .title Diwamoto
        .subtitle If you do it, it will happen. If you dont, you won't do it.
        .subtitle - 為せば成る。為さねば成らぬ。-
    .section#profile
      .section_title Profile
      .profile_wrapper
        .profile_icon: img(src="/src/img/profile_icon.jpg")
        .profile_content_name 岩本大樹
        .profile_content_edu 九州工業大学 情報工学部 知能情報工学科 卒業
        .profile_content_birthday 1998/1/18
        .profile_content_other 新卒で株式会社アウトソーシングテクノロジーに就職しました。<br>
         | 大学四年の時に株式会社キャッチアップにアルバイトとして入社し、主にPHPを扱って開発、テスト業務を行っていました。またそこでBaserCMSと出会い、OSSを知りました。<br>
         | 小学校から大学四年でキャッチアップでアルバイトするまで12年間野球をしてました。大学では六大学リーグに所属し、福岡のヤフオクドームで試合をしたりしました。
         | 受託開発企業に転職すべく活動中です。<br>
         | コードを書いたり、ゲームをしたり、キーボードを作ったりすることが好きです。
    .section#skill
      .section_title Skill
      
    .section#works 
      .section_title Works
    .section#history
      .section_title History
      .test aaa
    .footer
      .links
        each list, index in lists
          div(class="link_" + list.name): a(href=list.url target="_blank")=list.name