- var title='diwamoto.dev'
- var description='My Portfolio.'
- var domain='diwamoto.dev'
doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        title #{title}
        meta(name="description" content=`${description}`)
        meta(property="og:title" content=`${title}`)
        meta(property="og:description" content=`${description}`)
        meta(property="og:image" content=`https://${domain}/img/ogp.png`)
        meta(property="og:url" content=`${domain}`)
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        link(rel='apple-touch-icon-precomposed', src=`https://${domain}/img/apple-touch-icon.png`)
    body
        .icon: img(src="/src/img/profile_icon.jpg" )
        h1.title Daiki Iwamoto 
        h2.subtitle 
         