- var title='diwamoto.dev'
- var description='My Portfolio.'
- var domain='diwamoto.dev'
doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    title #{title}
    meta(name="description" content=`${description}`)
    meta(property="og:title" content=`${title}`)
    meta(property="og:description" content=`${description}`)
    meta(property="og:image" content=`https://${domain}/img/ogp.png`)
    meta(property="og:url" content=`${domain}`)
    meta(property="og:type" content="website")
    meta(name="twitter:card" content="summary_large_image")
    link(rel='apple-touch-icon-precomposed', src=`https://${domain}/img/apple-touch-icon.png`)
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    .main_image
      h1.title Diwamoto's Portfolio
      h2.subtitle If you do it, it will happen. If you dont, you won't do it.
    .section#Profile
      .section_title Profile
      .profile_icon: img(src="/src/img/profile_icon.jpg")
      .profile_name Daiki Iwamoto 
      .profile_content 岩本大樹といいます。
    .section#Skill
      .section_title Skill
      .test aaa
    .section#History
      .section_title History
      .test aaa

        
        

         